# Ignore __pycache__ directories
__pycache__/
!policies/constSpeed/Policy_best1_actor.pth
!policies/constSpeed/Policy_best1_critic.pth
!policies/constSpeed/Policy_best2_actor.pth
!policies/constSpeed/Policy_best2_critic.pth

!policies/varPolicies/Policy_best1_actor.pth
!policies/varPolicies/Policy_best1_critic.pth
!policies/varPolicies/Policy_best2_actor.pth
!policies/varPolicies/Policy_best2_critic.pth

!policies/acclPolicies/Policy_best1_actor.pth
!policies/acclPolicies/Policy_best1_critic.pth
